@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


  body {
    font-family: "Bricolage Grotesque", sans-serif;
    background-color: #100f0f;
    color: #fff;
    margin: 0;
    padding: 0;
  }

  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 8px;
  }

  a {
    text-decoration: none;
    color: inherit;
  }



  /* App.css */

/* Default light theme */
body {
  background-color: #ffffff;
  color: #000000;
}

.container {
  padding: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
}


.profile-header {
  background-color: #ffffff;
  color: #1c1c1c;
  border: 1px solid #d2d2d2;
}

.section {
  background-color: #ffffff;
  border: 1px solid #d2d2d2;
}

.tech-item {
  background-color: #d7d7d7;
  color: #2d2d2d;
  cursor: pointer;
}

.project-card {
  background-color: #ffffff;
  border: 1px solid #d2d2d2;
  }

  .experience {
    background-color: #ffffff;
    border: 1px solid #d2d2d2;
  }
  .tags span {
    background-color: #d7d7d7;
  color: #2d2d2d;
  }
  .tag {
    background-color: #d7d7d7;
    color: #2d2d2d;
  }
  footer span {
    color: rgb(84, 84, 84);
  }
  
  .hire-me-button {
    color: white;
    background-color: #1e90ff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .for-button {
    cursor: pointer;
    background-color: #ffffff;
  }







/* Dark theme styles */
[data-theme='dark'] {
  background-color: #181818;
  color: #ffffff;
}

[data-theme='dark'] .profile-header {
  background-color: #1c1c1c;
  color: #ffffff;
  border: 1px solid #000000;
}

[data-theme='dark'] .section {
  background-color: #1c1c1c;
  border: 1px solid #1c1c1c;
}

[data-theme='dark'] body {
  background-color: #100f0f;
  color: #ffffff;
}


[data-theme='dark'] .container {
  background-color: #100f0f;
  color: #ffffff;
}


[data-theme='dark'] .tech-item {
  background-color: #2a3035;
  cursor: pointer;
  color: #e1e5e7;
}

[data-theme='dark'] .project-card {
background-color: #1c1c1c;
border: 1px solid #000000;
}

[data-theme='dark'] .experience {
  background-color: #1c1c1c;
  border: 1px solid #000000;
}
[data-theme='dark'] .tags span {
  background-color: #333;
  color: #ffffff;
}


[data-theme='dark'] .tag {
  background-color: #333;
  color: #ffffff;
}
[data-theme='dark'] footer span {
  color: rgb(212, 211, 211);
}
[data-theme='dark'] .hire-me-button {
  color: white;
  background-color: #1e90ff;
  box-shadow: 0 4px 8px rgba(133, 132, 132, 0.85);
}
[data-theme='dark'] .for-button {
  cursor: pointer;
  background-color: #000000;
}

/* Additional styling for buttons or specific elements */
button {
  /* background-color: #4caf50; */
  /* color: #ffffff; */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}


[data-theme='dark'] button {
  background-color: #000000;
}
